## GEREKLİ KÜTÜPHANE VE SINIFLARIN İÇERİ AKTARILMASI

Kullanılacak olan modeller, veri işleme kütüphaneleri ve metrikler içeri alınmaktadır.

In [29]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score, StratifiedKFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, roc_auc_score

## VERİ SETİNİ İÇERİ ALMA VE TANIMA

.csv uzantılı verisetinde ';' noktalama işareti ile değerlerin ayrıldığını gözlemlenir ve veri seti içeri alınır. head() metotu ile hem veri setinin içeri alınması kontrol edilir hem de veri setinde ne gibi satır, sütun ve değerlerin olduğu gözlemlenir

In [3]:
data = pd.read_csv("gallstone_dataset.csv", sep=';')
data.head()

,Gallstone Status,Age,Gender,Comorbidity,Coronary Artery Disease (CAD),Hypothyroidism,Hyperlipidemia,Diabetes Mellitus (DM),Height,Weight,...,High Density Lipoprotein (HDL),Triglyceride,Aspartat Aminotransferaz (AST),Alanin Aminotransferaz (ALT),Alkaline Phosphatase (ALP),Creatinine,Glomerular Filtration Rate (GFR),C-Reactive Protein (CRP),Hemoglobin (HGB),Vitamin D
0,0,50,0,0,0,0,0,0,185,"92,8",...,40,134,20,22,87,"0,82","112,47",0,16,33
1,0,47,0,1,0,0,0,0,176,"94,5",...,43,103,14,13,46,"0,87","107,1",0,"14,4",25
2,0,61,0,0,0,0,0,0,171,"91,1",...,43,69,18,14,66,"1,25","65,51",0,"16,2","30,2"
3,0,41,0,0,0,0,0,0,168,"67,7",...,59,53,20,12,34,"1,02","94,1",0,"15,4","35,4"
4,0,42,0,0,0,0,0,0,178,"89,6",...,30,326,27,54,71,"0,82","112,47",0,"16,8","40,6"

info() metotu ile sütun veri tipleri, bellek kullanımı gibi veriler gözlemlenir.

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 39 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Gallstone Status                                319 non-null    int64
 1   Age                                             319 non-null    int64
 2   Gender                                          319 non-null    int64
 3   Comorbidity                                     319 non-null    int64
 4   Coronary Artery Disease (CAD)                   319 non-null    int64
 5   Hypothyroidism                                  319 non-null    int64
 6   Hyperlipidemia                                  319 non-null    int64
 7   Diabetes Mellitus (DM)                          319 non-null    int64
 8   Height                                          319 non-null    int64
 9   Weight                                          319 non-null    object
 10  Body Mass Index (BMI)                           319 non-null    object
 11  Total Body Water (TBW)                          319 non-null    object
 12  Extracellular Water (ECW)                       319 non-null    object
 13  Intracellular Water (ICW)                       319 non-null    object
 14  Extracellular Fluid/Total Body Water (ECF/TBW)  319 non-null    object
 15  Total Body Fat Ratio (TBFR) (%)                 319 non-null    object
 16  Lean Mass (LM) (%)                              319 non-null    object
 17  Body Protein Content (Protein) (%)              319 non-null    object
 18  Visceral Fat Rating (VFR)                       319 non-null    int64
 19  Bone Mass (BM)                                  319 non-null    object
 20  Muscle Mass (MM)                                319 non-null    object
 21  Obesity (%)                                     319 non-null    object
 22  Total Fat Content (TFC)                         319 non-null    object
 23  Visceral Fat Area (VFA)                         319 non-null    object
 24  Visceral Muscle Area (VMA) (Kg)                 319 non-null    object
 25  Hepatic Fat Accumulation (HFA)                  319 non-null    int64
 26  Glucose                                         319 non-null    object
 27  Total Cholesterol (TC)                          319 non-null    object
 28  Low Density Lipoprotein (LDL)                   319 non-null    object
 29  High Density Lipoprotein (HDL)                  319 non-null    object
 30  Triglyceride                                    319 non-null    object
 31  Aspartat Aminotransferaz (AST)                  319 non-null    object
 32  Alanin Aminotransferaz (ALT)                    319 non-null    object
 33  Alkaline Phosphatase (ALP)                      319 non-null    object
 34  Creatinine                                      319 non-null    object
 35  Glomerular Filtration Rate (GFR)                319 non-null    object
 36  C-Reactive Protein (CRP)                        319 non-null    object
 37  Hemoglobin (HGB)                                319 non-null    object
 38  Vitamin D                                       319 non-null    object
dtypes: int64(11), object(28)
memory usage: 97.3+ KB

isna().num() metotlarını kullanarak her bir sütunda ne kadar null değerin olduğu gözlemlenir.

In [8]:
data.isna().sum()

Gallstone Status                                  0
Age                                               0
Gender                                            0
Comorbidity                                       0
Coronary Artery Disease (CAD)                     0
Hypothyroidism                                    0
Hyperlipidemia                                    0
Diabetes Mellitus (DM)                            0
Height                                            0
Weight                                            0
Body Mass Index (BMI)                             0
Total Body Water (TBW)                            0
Extracellular Water (ECW)                         0
Intracellular Water (ICW)                         0
Extracellular Fluid/Total Body Water (ECF/TBW)    0
Total Body Fat Ratio (TBFR) (%)                   0
Lean Mass (LM) (%)                                0
Body Protein Content (Protein) (%)                0
Visceral Fat Rating (VFR)                         0
Bone Mass (BM)                                    0
Muscle Mass (MM)                                  0
Obesity (%)                                       0
Total Fat Content (TFC)                           0
Visceral Fat Area (VFA)                           0
Visceral Muscle Area (VMA) (Kg)                   0
Hepatic Fat Accumulation (HFA)                    0
Glucose                                           0
Total Cholesterol (TC)                            0
Low Density Lipoprotein (LDL)                     0
High Density Lipoprotein (HDL)                    0
Triglyceride                                      0
Aspartat Aminotransferaz (AST)                    0
Alanin Aminotransferaz (ALT)                      0
Alkaline Phosphatase (ALP)                        0
Creatinine                                        0
Glomerular Filtration Rate (GFR)                  0
C-Reactive Protein (CRP)                          0
Hemoglobin (HGB)                                  0
Vitamin D                                         0
dtype: int64

describe() metotu ile sayısal ve nümerik değer tipli sütunlar istatistiksel olarak gözlemlenir.

In [9]:
data.describe()

,Gallstone Status,Age,Gender,Comorbidity,Coronary Artery Disease (CAD),Hypothyroidism,Hyperlipidemia,Diabetes Mellitus (DM),Height,Visceral Fat Rating (VFR),Hepatic Fat Accumulation (HFA)
count,319.000000,319.000000,319.000000,319.000000,319.000000,319.000000,319.000000,319.000000,319.00000,319.000000,319.000000
mean,0.495298,48.068966,0.492163,0.335423,0.037618,0.028213,0.025078,0.134796,167.15674,9.078370,1.150470
std,0.500763,12.114558,0.500724,0.517340,0.190568,0.165841,0.156609,0.342042,10.05303,4.332501,1.059217
min,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,145.00000,1.000000,0.000000
25%,0.000000,38.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,159.50000,6.000000,0.000000
50%,0.000000,49.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,168.00000,9.000000,1.000000
75%,1.000000,56.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,175.00000,12.000000,2.000000
max,1.000000,96.000000,1.000000,3.000000,1.000000,1.000000,1.000000,1.000000,191.00000,31.000000,4.000000

## VERİ SETİNDE BAĞIMLI VE BAĞIMSIZ DEĞİŞKENLERİN BÖLÜNMESİ

Veri setinde bağımlı değişken safra kesesi taşının olup olmamasıdır yani 'Gallstone Status' sütunudur. Diğer sütunlar bağımsız değişkendir.

In [14]:
X = data.drop(columns=['Gallstone Status'], axis=1)
Y = data['Gallstone Status']

## VERİ ÖN İŞLEME

SVM, KNN ve MLP gibi yöntemler kullanıldığından sürekli veriler ölçeklenmesi gerekir. Bu şekilde bu yöntemlerden daha iyi sonuçlar alınabilir.

In [28]:
minmaxScaler = MinMaxScaler()
X_continous = X.drop(columns=['Gender', 'Comorbidity', 'Coronary Artery Disease (CAD)', 'Hypothyroidism', 'Hyperlipidemia','Diabetes Mellitus (DM)'],
                     axis=1)
X_binary = X[['Gender', 'Comorbidity', 'Coronary Artery Disease (CAD)', 'Hypothyroidism', 'Hyperlipidemia','Diabetes Mellitus (DM)']]
X_continous= X_continous.map(lambda x: pd.to_numeric(str(x).strip().replace(",", "."), errors='coerce'))
X_continous_scaled = minmaxScaler.fit_transform(X_continous)
X_final = np.concatenate([X_continous_scaled, X_binary], axis=1)

## EĞİTİM VE TEST VERİ SETLERİNİN OLUŞTURULMASI VE MODELLERİN EĞİTİLMESİ

Veri seti 30% - 70% olarak test ve eğitim veri setlerine ayrılmıştır. Birden çok modelin oluşturulmasını kolaylaştırmak için 'evaluate_model()' adlı genel bir metot oluşturulmuştur. Bu metota model, o model ait hiperparametreler ve test-eğitim veri setleri verilir. Çıktı olarak verilen modelin en iyi hali ve accuracy ile f1-score sonuçları alınır.

In [30]:
X_train, X_test, Y_train, Y_test = train_test_split(X_final, Y, test_size=0.3, random_state=42)

def evaluate_model(model, hyperparams, X_train, Y_train):
    grid = GridSearchCV(estimator=model,
                        param_grid=hyperparams,
                        scoring='f1_weighted',
                        cv=10,
                        n_jobs=-1)
    grid.fit(X_train, Y_train)
    best_model = grid.best_estimator_

    acc = cross_val_score(best_model, X_train, Y_train, cv=10, scoring='accuracy').mean()
    f1 = cross_val_score(best_model, X_train, Y_train, cv=10, scoring='f1_weighted').mean()

    return acc, f1, best_model

### K-NEAREST NEİGHBOR MODELİNİN OLUŞTURULMASI

KNN modelinde k değeri kritiktir ve kaç tane en yakın komşuya bakılacğını ifade eder. Ayrıca kullanılan uzaklık formülleri de önemlidir. Bunlar 'knn_hyperparams' adlı değişkende belirtilmiştir ve KNN modelinin sonuçları alınmıştır.

In [32]:
knn = KNeighborsClassifier()

knn_hyperparams = {
    'n_neighbors': [3, 5, 7, 9],
    'weights': ['uniform', 'distance'],
    'metric': ['euclidean', 'manhattan', 'chebyshev']
}

knn_acc, knn_f1, knn_best_model = evaluate_model(knn, knn_hyperparams, X_train, Y_train)

print(f"Best KNN Accuracy (CV): {knn_acc:.4f}")
print(f"Best KNN F1 Score (CV): {knn_f1:.4f}")
print(f"Best Parameters: {knn_best_model.get_params()}")

Best KNN Accuracy (CV): 0.6415
Best KNN F1 Score (CV): 0.6365
Best Parameters: {'algorithm': 'auto', 'leaf_size': 30, 'metric': 'chebyshev', 'metric_params': None, 'n_jobs': None, 'n_neighbors': 9, 'p': 2, 'weights': 'distance'}

### NIAVE BAYES MODELİNİN OLUŞTURULMASI

NB modeli için hiperparametreye gerek yoktur bu yüzden 'nb_hyperparams' adlı değişken boş bir sözlüktür. NB modelininde sonuçları 'evaluate_model()' metotu kullanılarak alınmıştır.

In [33]:
nb = GaussianNB()

nb_hyperparams = {}

nb_acc, nb_f1, nb_best_model = evaluate_model(nb, nb_hyperparams, X_train, Y_train)

print(f"Best NB Accuracy (CV): {nb_acc:.4f}")
print(f"Best NB F1 Score (CV): {nb_f1:.4f}")
print(f"Best Parameters: {nb_best_model.get_params()}")

Best NB Accuracy (CV): 0.5381
Best NB F1 Score (CV): 0.4286
Best Parameters: {'priors': None, 'var_smoothing': 1e-09}

### MULTILAYER PERCEPTRON MODELİNİN OLUŞTURULMASI

MLP modelinin hiperparametreleri saklı katman sayıları ve aktivasyon fonksiyonlarıdır. Bunlar 'mlp_hyperparams' adlı değişkende belirtilmiştir ve en iyi sonuçlar yazılmıştır.

In [35]:
mlp = MLPClassifier(max_iter=1000, random_state=42)

mlp_hyperparams = {
    'hidden_layer_sizes': [(50,), (100,), (150,), (250,), (500,), (1000,)],
    'activation': ['relu', 'tanh'],
    'solver': ['adam'],
    'alpha': [0.0001, 0.001],
    'learning_rate': ['constant', 'adaptive']
}

mlp_acc, mlp_f1, mlp_best_model = evaluate_model(mlp, mlp_hyperparams, X_train, Y_train)

print(f"Best MLP Accuracy (CV): {mlp_acc:.4f}")
print(f"Best MLP F1 Score (CV): {mlp_f1:.4f}")
print(f"Best Parameters: {mlp_best_model.get_params()}")

Best MLP Accuracy (CV): 0.6575
Best MLP F1 Score (CV): 0.6447
Best Parameters: {'activation': 'tanh', 'alpha': 0.0001, 'batch_size': 'auto', 'beta_1': 0.9, 'beta_2': 0.999, 'early_stopping': False, 'epsilon': 1e-08, 'hidden_layer_sizes': (1000,), 'learning_rate': 'constant', 'learning_rate_init': 0.001, 'max_fun': 15000, 'max_iter': 1000, 'momentum': 0.9, 'n_iter_no_change': 10, 'nesterovs_momentum': True, 'power_t': 0.5, 'random_state': 42, 'shuffle': True, 'solver': 'adam', 'tol': 0.0001, 'validation_fraction': 0.1, 'verbose': False, 'warm_start': False}

### SUPPORT VECTOR MACHINE MODELİNİN OLUŞTURULMASI

SVM modeli için bir çok kernel fonksiyonundan 'rbf' fonksiyonu seçilmiş ve 'svm_hyperparams' adlı değişkende sabit tutulmuştur. Ayrıca ceza parametresi de çok önemlidir ve sonuçlarda da görüleceği üzere en iyi 'C' değeri 10 bulunmuştur.

In [36]:
svm = SVC()

svm_hyperparams = {
    'C': [0.1, 1, 10, 100],
    'kernel': ['rbf'],
    'gamma': ['scale', 'auto', 0.001, 0.01, 0.1],
    'degree': [2, 3, 4],
    'coef0': [0.0, 0.1, 0.5]
}

svm_acc, svm_f1, svm_best_model = evaluate_model(svm, svm_hyperparams, X_train, Y_train)

print(f"Best SVM Accuracy (CV): {svm_acc:.4f}")
print(f"Best SVM F1 Score (CV): {svm_f1:.4f}")
print(f"Best Parameters: {svm_best_model.get_params()}")

Best SVM Accuracy (CV): 0.7306
Best SVM F1 Score (CV): 0.7273
Best Parameters: {'C': 10, 'break_ties': False, 'cache_size': 200, 'class_weight': None, 'coef0': 0.0, 'decision_function_shape': 'ovr', 'degree': 2, 'gamma': 'auto', 'kernel': 'rbf', 'max_iter': -1, 'probability': False, 'random_state': None, 'shrinking': True, 'tol': 0.001, 'verbose': False}